body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 150px auto;
    gap:1px;
    margin-right: 300px;
    margin-left: 300px;
}
div{
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #6a7c88;
}
.cell1{
    grid-row: 1;
    grid-column: 2/4;
    background-color: goldenrod;
}
.cell2{
    grid-row: 2;
    grid-column: 1;
    border: 1px solid white;
}
.cell3{
    grid-row: 2;
    grid-column: 2/4;
}
.cell4{
    grid-row: 3;
    grid-column: 1/4;
    background-color: gray;
    border: 1px solid white;

}